

.nav{
    height:100px;
    width:1365px;
    background-color:rgb(250,250,250);
    border-radius:13px;
    border-width:1px;
    border-color:grey;
    box-shadow: 6px 6px 20px 1px grey;
}
.h1t{
    margin-left:200px;
    padding-top:20px;
}
.btn-edit{
    font-size:30px; 
    height:50px; 
    width:60px;
    border-radius:13px; 
    border-width:1px;
    border-color:grey;
    box-shadow:6px 6px 20px 1px grey;
    margin-left:10px;
    margin-top:10px;
}
.input-add{
    height:50px;
    font-size:15px;
    width:350px;
    border-radius:13px;
    border-width:1px; 
    border-color:grey;
    box-shadow:6px 6px 20px 1px grey;
    margin-left:400px;
}
.btn-add{
    font-size:20px;
    height:50px;
    width:200px;
    border-radius:13px; border-width:1px;
    border-color:grey;
    box-shadow:6px 6px 20px 1px grey;
    margin-left:10px;
}
.form-add{
    margin-top:70px;
}

.title-line{
    text-decoration: "line-through";
    text-align:center;
    height:50px;
    font-size:15px;
    width:358px; 
    border-radius:13px;
    border-width:1px;
    border-color:grey;
    box-shadow:6px 6px 20px 1px grey;
    margin-left:400px;
}


.title-normal{
    text-align:center;
    height:50px;
    font-size:15px;
    width:358px; 
    border-radius:13px;
    border-width:1px;
    border-color:grey;
    box-shadow:6px 6px 20px 1px grey;
    margin-left:400px;
}
.input-edit{
    height:40px;
    border-radius:13px;
    border:none;
    box-shadow:6px 6px 20px 1px grey;
    margin-left:-500px;
    width:300px;
}
.btn-submit{
    font-size:18px;
    height:42px;
    width:60px;
    border-radius:13px;
    border-width:1px;
    border-color:grey;
    box-shadow:6px 6px 20px 1px grey;
    margin-left:10px;
    margin-top:10px;
}
.btn-Del{
    font-size:30px;
    height:50px;
    width:60px;
    border-radius:13px; 
    border-width:1px;
    border-color:grey;
    box-shadow:6px 6px 20px 1px grey; 
    margin-left:10px;
    margin-top:10px;
}
.btn-Com{
    font-size:25px;
    height:50px;
    width:60px; 
    border-radius:13px;
    border-width:1px;
    border-color:grey;
    box-shadow:6px 6px 20px 1px grey;
    margin-left:10px;
    margin-top:10px;
}
